.card {
    width: 90%;
    margin: auto;
    background-color: rgb(235, 235, 235);
}

/* img {
    height: 20rem;
} */

img {
    width: 30%;
    height: 30rem;
    margin: 1.5rem auto 1.5rem auto;
    align-items: center;
}
